body{
	margin: 0;
	padding: 0;
}
.image img{
	width: 100%;
	height: 100vh;
	border-radius: 0;
	background-position: center;
	background-size: cover;
}
.center{
	border-radius: 30px;
	width: 323px;
	height: 440px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 1px solid white;
	/*background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(146,34,201,1) 0%, rgba(0,212,255,1) 84%);*/
}
form{
	text-align: center;
	font-size: 25px;
	/*border: 3px solid black;*/
	position: absolute;
	left: 10px;
	bottom: 10px;
	border-radius: 15px;
}
.login{
	padding-left: 100px;
}
img{
	width: 100px;
	height: auto;
	border-radius: 60px;
}
.title a {
	font-size: 30px;
	padding-left: 100px;
}
.text-box{
	font-size: 15px;
	display: inline-block;
}
input[type=text]{
	width: 250px;
	height: 35px;
	font-size: 15px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 5px;
	border-radius: 10px;
}
input[type=password]{
	width: 250px;
	height: 35px;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 5px;
	border-radius: 10px;
}
.username {
	text-align: left;
}
.password {
	text-align: left;
}
.username a{
	padding-left: 20px;
}
.password a{
	padding-left: 20px;
}
 a{
	color: white;
}
input[type=submit]{
	font-size: 20px;
	border-radius: 15px;
	margin-left: 20px;
	width: 70px;
	height: 35px;
}